nameOverride: ""
fullnameOverride: ""

# Chart debug mode
# (eg. disable helm hook delete policy)
debug: false

server:
  image:
    repository: ubercadence/server
    tag: 0.18.1
    pullPolicy: IfNotPresent

  # Global default settings (can be overridden per service)
  replicaCount: 1
  metrics:
    # Annotate pods directly with Prometheus annotations.
    # Use this if you installed Prometheus from a Helm chart.
    annotations:
      enabled: false
    # Enable Prometheus ServiceMonitor
    # Use this if you installed the Prometheus Operator (https://github.com/coreos/prometheus-operator).
    serviceMonitor:
      enabled: false
      interval: 30s
    prometheus:
      timerType: histogram
    statsd: {}
      #   hostPort: localhost:8125

  podAnnotations: {}

  podSecurityContext: {}
    # fsGroup: 2000

  securityContext: {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #  cpu: 100m
    #  memory: 128Mi
    # requests:
    #  cpu: 100m
    #  memory: 128Mi
  nodeSelector: {}
  tolerations: []
  affinity: {}

  config:
    logLevel: "debug,info"

    # IMPORTANT: This value cannot be changed, once it's set.
    numHistoryShards: 512

    persistence:
      default:
        driver: "" # cassandra or sql

        cassandra:
          hosts: []
          # port: 9042
          keyspace: cadence
          user: ""
          password: ""
          existingSecret: ""
          consistency: One
          # datacenter: "us-east-1a"
          # maxQPS: 1000
          # maxConns: 2

        sql:
          pluginName: "" # mysql
          host: ""
          # port: 3306
          database: cadence
          user: ""
          password: ""
          existingSecret: ""
          # maxConns: 20
          # maxIdleConns: 20
          # maxConnLifetime: "1h"
          # maxQPS: 1000
          # connectAttributes:
            # tx_isolation: "READ-COMMITTED"

      visibility:
        driver: "" # cassandra or sql

        cassandra:
          hosts: []
          # port: 9042
          keyspace: cadence_visibility
          user: ""
          password: ""
          existingSecret: ""
          consistency: One
          # datacenter: "us-east-1a"
          # maxQPS: 1000
          # maxConns: 2

        sql:
          pluginName: "" # mysql
          host: ""
          # port: 3306
          database: cadence_visibility
          user: ""
          password: ""
          existingSecret: ""
          # maxConns: 20
          # maxIdleConns: 20
          # maxConnLifetime: "1h"
          # maxQPS: 1000
          # connectAttributes:
            # tx_isolation: "READ-COMMITTED"

  frontend:
    # replicaCount: 1
    service:
      type: ClusterIP
      port: 7933
    metrics:
      annotations: {}
        # enabled: false
      serviceMonitor: {}
        # enabled: false
      prometheus: {}
        # timerType: histogram
      statsd: {}
      #   hostPort: localhost:8125
    podAnnotations: {}
    podSecurityContext: {}
    securityContext: {}
    resources: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}

  history:
    # replicaCount: 1
    service:
      # type: ClusterIP
      port: 7934
    metrics:
      annotations: {}
        # enabled: false
      serviceMonitor: {}
        # enabled: false
      prometheus: {}
        # timerType: histogram
      statsd: {}
      #   hostPort: localhost:8125
    podAnnotations: {}
    podSecurityContext: {}
    securityContext: {}
    resources: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}

  matching:
    # replicaCount: 1
    service:
      # type: ClusterIP
      port: 7935
    metrics:
      annotations: {}
        # enabled: false
      serviceMonitor: {}
        # enabled: false
      prometheus: {}
        # timerType: histogram
      statsd: {}
      #   hostPort: localhost:8125
    podAnnotations: {}
    podSecurityContext: {}
    securityContext: {}
    resources: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}

  worker:
    # replicaCount: 1
    service:
      # type: ClusterIP
      port: 7939
    metrics:
      annotations: {}
        # enabled: false
      serviceMonitor: {}
        # enabled: false
      prometheus: {}
        # timerType: histogram
      statsd: {}
      #   hostPort: localhost:8125
    podAnnotations: {}
    podSecurityContext: {}
    securityContext: {}
    resources: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}

web:
  enabled: true

  replicaCount: 1

  image:
    repository: ubercadence/web
    tag: v3.22.2
    pullPolicy: IfNotPresent

  tcheck:
    image:
      repository: ghcr.io/banzaicloud/tcheck
      tag: latest
      pullPolicy: IfNotPresent

  service:
    type: ClusterIP
    port: 80
    annotations: {}
    # loadBalancerIP:

  ingress:
    enabled: false
    annotations: {}
      # kubernetes.io/ingress.class: traefik
      # ingress.kubernetes.io/ssl-redirect: "false"
      # traefik.frontend.rule.type: PathPrefix
    hosts:
      - "/"
      # - "domain.com/xyz"
      # - "domain.com"
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

  podSecurityContext: {}
    # fsGroup: 2000

  securityContext: {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #  cpu: 100m
    #  memory: 128Mi
    # requests:
    #  cpu: 100m
    #  memory: 128Mi

  nodeSelector: {}

  tolerations: []

  affinity: {}

dynamicConfig:
  values: {}
  pollInterval: "10s"

schema:
  setup:
    enabled: true
    backoffLimit: 100
  update:
    enabled: true
    backoffLimit: 100

cassandra:
  enabled: true
  image:
    repo: cassandra
    tag: 3.11.3
    pullPolicy: IfNotPresent
  config:
    cluster_size: 1
    ports:
      cql: 9042

mysql:
  enabled: false
  imageTag: "5.7.26"
  service:
    port: 3306
  mysqlUser: cadence
  initializationFiles:
    user.sql: |-
      GRANT ALL PRIVILEGES ON *.* TO 'cadence'@'%';
