apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: "{{ template "fullname" . }}"
  annotations:
    kubernetes.io/ingress.class: "nginx"
    ingress.kubernetes.io/ssl-redirect: "false"
    ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - http:
      paths:
        - path: /zeppelin
          backend:
            serviceName: "{{ .Values.zeppelin.service.name }}"
            servicePort: {{ .Values.zeppelin.service.externalPort }}