apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ template "fullname" . }}
  labels:
    app: {{ template "fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      labels:
        app: {{ template "fullname" . }}
    spec:
      volumes:
        - name: config-init-volume
          configMap:
            name: {{ template "fullname" . }}-config
            items:
            - key: log4j.properties
              path: log4j.properties
            - key: log4j_k8s_cluster.properties
              path: log4j_k8s_cluster.properties
            - key: shiro.ini.template
              path: shiro.ini.template
        - name: zeppelin-site-config-volume
          configMap:
            name: {{ template "fullname" . }}-site-config
            items:
            - key: zeppelin-site.xml
              path: zeppelin-site.xml
        - name: interpreter-config-volume
          configMap:
            name: {{ template "fullname" . }}-interpreter-config
            items:
            - key: interpreter.json
              path: interpreter.json
        - name: config-volume
          emptyDir: {}
      initContainers:
      - name: {{ .Chart.Name }}-init-config
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
          - name: ZEPPELIN_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ template "fullname" . }}-password
                key: password
        command:
          - '/bin/sh'
          - '-c'
          - >
            cp conf/* prepared_conf;
            export NEW_PWD=$(java -jar /opt/zeppelin/bin/shiro-tools-hasher-1.3.2-cli.jar -gs -i 500000 -f shiro1 -a SHA-256 $ZEPPELIN_PASSWORD);
            echo $NEW_PWD;
            sed 's|ADMIN_PASSWORD|'$NEW_PWD'|g' /opt/zeppelin/prepared_conf/shiro.ini.template > /opt/zeppelin/prepared_conf/shiro.ini;
        volumeMounts:
          - name: config-init-volume
            mountPath: /opt/zeppelin/conf/log4j.properties
            subPath: log4j.properties
          - name: config-init-volume
            mountPath: /opt/zeppelin/conf/log4j_k8s_cluster.properties
            subPath: log4j_k8s_cluster.properties
          - name: config-init-volume
            mountPath: /opt/zeppelin/conf/shiro.ini.template
            subPath: shiro.ini.template
          - name: zeppelin-site-config-volume
            mountPath: /opt/zeppelin/conf/zeppelin-site.xml
            subPath: zeppelin-site.xml
          - name: interpreter-config-volume
            mountPath: /opt/zeppelin/conf/interpreter.json
            subPath: interpreter.json
          - name: config-volume
            mountPath: /opt/zeppelin/prepared_conf
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
          - name: SPARK_SUBMIT_OPTIONS
            value: >-
              --kubernetes-namespace {{ .Values.sparkSubmitOptions.k8sNameSpace }}
              --conf spark.driver.cores={{ .Values.sparkSubmitOptions.sparkDriverCores }}
              --conf spark.kubernetes.driver.limit.cores={{ .Values.sparkSubmitOptions.sparkDriverLimitCores }}
              --conf spark.executor.cores={{ .Values.sparkSubmitOptions.sparkExecutorCores }}
              --conf spark.driver.memory={{ .Values.sparkSubmitOptions.sparkDriverMemory }}
              --conf spark.executor.memory={{ .Values.sparkSubmitOptions.sparkExecutorMemory }}
              --conf spark.kubernetes.driver.docker.image={{ .Values.sparkSubmitOptions.DriverImage }}
              --conf spark.kubernetes.executor.docker.image={{ .Values.sparkSubmitOptions.ExecutorImage }}
              --conf spark.kubernetes.initcontainer.docker.image={{ .Values.sparkSubmitOptions.initContainerImage }}
              --conf spark.dynamicAllocation.enabled={{ .Values.sparkSubmitOptions.dynamicAllocation }}
              --conf spark.shuffle.service.enabled={{ .Values.sparkSubmitOptions.shuffleService }}
              --conf spark.kubernetes.shuffle.namespace={{ .Values.sparkSubmitOptions.shuffleNameSpace }}
              --conf spark.kubernetes.shuffle.labels={{ .Values.sparkSubmitOptions.shuffleLabels }}
              --conf spark.metrics.conf={{ .Values.sparkSubmitOptions.sparkMetricsConf }}
              --conf spark.kubernetes.resourceStagingServer.uri={{ .Values.sparkSubmitOptions.resourceStagingServerExt }}
              --conf spark.kubernetes.resourceStagingServer.internal.uri={{ .Values.sparkSubmitOptions.resourceStagingServerInt }}
              --conf spark.local.dir={{ .Values.sparkSubmitOptions.sparkLocalDir }}
              --conf spark.executor.extraJavaOptions="-Dlog4j.configuration={{ .Values.sparkSubmitOptions.log4jConfigPath }}"
              --conf spark.kubernetes.authenticate.driver.serviceAccountName={{ .Values.sparkSubmitOptions.driverServiceAccountName }}
              {{- if .Values.sparkSubmitOptions.eventLogDirectory }}
              --conf spark.eventLog.dir={{ .Values.sparkSubmitOptions.eventLogDirectory }}
              --conf spark.eventLog.enabled=true
              {{- end }}
              {{- if .Values.sparkSubmitOptions.azureStorageAccessKey }}
              --conf spark.hadoop.fs.azure.account.key.{{ .Values.azureStorageAccountName }}.blob.core.windows.net={{ .Values.azureStorageAccessKey }}
              {{- end }}
          - name: ZEPPELIN_MEM
            value: -XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap -XX:MaxRAMFraction=1 -Xms{{ .Values.resources.requests.memory }}M
        ports:
        - containerPort: {{ .Values.service.internalPort }}
        livenessProbe:
          httpGet:
            path: {{ .Values.pipelineIngress.baseURL }}
            port: {{ .Values.service.internalPort }}
          initialDelaySeconds: 30
          timeoutSeconds: 1
        readinessProbe:
          httpGet:
            path: {{ .Values.pipelineIngress.baseURL }}
            port: {{ .Values.service.internalPort }}
          initialDelaySeconds: 20
          timeoutSeconds: 1
        volumeMounts:
          - name: config-volume
            mountPath: /opt/zeppelin/conf
        resources:
          limits:
            cpu: {{ .Values.resources.limits.cpu }}
            memory: {{ .Values.resources.limits.memory }}Mi
          requests:
            cpu: {{ .Values.resources.requests.cpu }}
            memory: {{ .Values.resources.requests.memory }}Mi
