# Golang CircleCI 2.0 configuration file
version: 2.0

jobs:
  build-and-publish-all:
    docker:
      - image: banzaicloud/helm:0.0.2
        environment:
          AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
          AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID

    steps:
      - checkout
      - run:
          name: Build Charts and publish to S3
          no_output_timeout: 2700
          environment:

          command: |
            GIT_REV=$(git rev-parse --short HEAD)
            GIT_BRANCH=${CIRCLE_BRANCH}
            GIT_TAG=${CIRCLE_TAG}

            helm init -c
            helm repo add incubator http://storage.googleapis.com/kubernetes-charts-incubator

            if [ "$GIT_TAG" = "0.3.0" ]; then
                BANZAICLOUD_STABLE_REPO=http://kubernetes-charts.banzaicloud.com
            elif [ "$GIT_TAG" = "" ]; then
                BANZAICLOUD_STABLE_REPO=http://kubernetes-charts.banzaicloud.com/branch/${GIT_BRANCH}/
            elif [ "$GIT_TAG" != "" ]; then
                BANZAICLOUD_STABLE_REPO=http://kubernetes-charts.banzaicloud.com/release/${GIT_TAG}/
            fi

            helm repo remove local

            echo "REPO -> STABLE"

            find -H . -type d -empty -delete

            #TODO: Dirty hack to solve multi level dependency, the current dependency depth is 4
            for i in $(seq 1 3);
            do

                helm repo add banzaicloud-stable ${BANZAICLOUD_STABLE_REPO} || true

                helm repo update
                helm repo list

                mkdir -p /tmp/s3-chart/stable

                echo "Dependency update and build"
                if [ $i == 3 ]; then
                    for chart in $(find -H . -maxdepth 1 ! -path /tmp  ! -path . ! -path ./.circleci ! -path ./.git -type d -print)
                    do
                        helm dependency update $chart
                        helm dependency build $chart
                    done
                else
                    find -H . -maxdepth 1 ! -path /tmp  ! -path . ! -path ./.circleci ! -path ./.git -type d -exec helm dependency update {} \; -exec helm dependency build {} \;
                fi

                echo "Remove requirements.lock files"
                find -H . -maxdepth 3 -name requirements.lock -type f -delete -print

                echo "Create helm packages"
                find -H . -maxdepth 1 ! -path /tmp  ! -path . ! -path ./.circleci ! -path ./.git -type d -print -exec helm package -d /tmp/s3-chart/stable {} \;

                helm repo index --url $BANZAICLOUD_STABLE_REPO /tmp/s3-chart/stable

                if [ "$GIT_TAG" = "0.3.0" ]; then
                    s3cmd sync /tmp/s3-chart/stable/* s3://kubernetes-charts.banzaicloud.com/
                elif [ "$GIT_TAG" = "" ]; then
                    s3cmd sync /tmp/s3-chart/stable/* s3://kubernetes-charts.banzaicloud.com/branch/${GIT_BRANCH}/
                elif [ "$GIT_TAG" != "" ]; then
                    s3cmd sync /tmp/s3-chart/stable/* s3://kubernetes-charts.banzaicloud.com/release/${GIT_TAG}/
                fi
            done

  build-and-publish-single-chart:
    docker:
      - image: banzaicloud/helm:0.0.2

    working_directory: /workspace/banzai-charts

    steps:
      - checkout

      - run:
          name: Setup helm repositories
          command: |
            helm init -c
            helm repo remove local
            helm repo add incubator http://storage.googleapis.com/kubernetes-charts-incubator
            helm repo add chartmuseum https://helm-charts.banzaicloud.io
            helm repo update
            helm repo list

      - run:
          name: Install helm push plugin
          command: |
            helm plugin install https://github.com/chartmuseum/helm-push

      - run:
          name: Check versions
          command: |
            chart_name="$(echo "${CIRCLE_TAG}" | awk -F '/' '{print $1}')"
            chart_version="$(echo "${CIRCLE_TAG}" | awk -F '/' '{print $2}')"

            if [ ! -d "/workspace/banzai-charts/${chart_name}" ]; then
                echo "Chart does not exists; name='${chart_name}'"
                exit 1
            fi

            if ! grep -q -F "version: $chart_version" "/workspace/banzai-charts/${chart_name}/Chart.yaml"; then
                echo "Chart version mismatch; name='${chart_name}', version='${chart_version}'"
                exit 1
            fi

            if ! helm search "chartmuseum/${chart_name}" -v "${chart_version}" | grep -q 'No results found'; then
                echo "Chart already exists in chartmuseum; name='${chart_name}', version='${chart_version}'"
                exit 1
            fi

      - run:
          name: Build chart
          command: |
            chart_name="$(echo "${CIRCLE_TAG}" | awk -F '/' '{print $1}')"
            chart_version="$(echo "${CIRCLE_TAG}" | awk -F '/' '{print $2}')"

            mkdir -p "/workspace/tgz"

            helm package \
                --dependency-update \
                --destination '/workspace/tgz/' \
                "${chart_name}"

      - run:
          name: Publish charts to chartmuseum
          command: |
            chart_name="$(echo "${CIRCLE_TAG}" | awk -F '/' '{print $1}')"
            chart_version="$(echo "${CIRCLE_TAG}" | awk -F '/' '{print $2}')"

            helm push "/workspace/tgz/${chart_name}-${chart_version}.tgz" chartmuseum

workflows:
  version: 2
  build-and-publish-single-chart-to-chartmuseum:
    jobs:
      - build-and-publish-single-chart:
          filters:
            tags:
              only: /\S+\/\d.\d.\d/
            branches:
              ignore: /.*/
  build-all-and-publish-to-s3:
    jobs:
      - build-and-publish-all:
          filters:
            tags:
              ignore: /\S+\/\d.\d.\d/
