statefullset:
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/probe: kafka
    prometheus.io/port: "9020"
  labels: {}

service:
  annotations: {}
  labels: {}

jmx:
  enabled: false
  port: 5555

port: 9092

image:
  repository: banzaicloud/kafka
  tag: 2.12-1.2.0-etcd-0.0.1
  pullPolicy: IfNotPresent