apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cadence-web.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "cadence-web.name" . }}
    helm.sh/chart: {{ include "cadence-web.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "cadence-web.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "cadence-web.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:

      initContainers:
      - name: check-frontend
        image: "banzaicloud/tcheck:latest"
        command: ['sh', '-c', 'until tcheck --peer {{ .Release.Name }}-frontend:7933 --serviceName cadence-frontend; do echo waiting for frontend; sleep 2; done;']

      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: CADENCE_TCHANNEL_PEERS
            value: "{{ .Release.Name }}-frontend:7933"

          ports:
            - name: http
              containerPort: 8088
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: 8088
          readinessProbe:
            httpGet:
              path: /
              port: 8088
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
