apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: "{{ template "telescopes.fullname" . }}"
  labels:
    app: "{{ template "telescopes.fullname" . }}"
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
{{ toYaml .Values.deploymentLabels | indent 4 }}
  annotations:
{{ toYaml .Values.deploymentAnnotations | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      labels:
        heritage: "{{ .Release.Service }}"
        release: "{{ .Release.Name }}"
        app: {{ template "telescopes.fullname" . }}
        component: "{{ template "telescopes.name" . }}"
      annotations:
{{ toYaml .Values.podAnnotations | indent 8 }}
    spec:
      containers:
      - name: telescopes
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.imagePullPolicy | quote }}
        env:
        - name: TELESCOPES_BASEPATH
          value: {{ .Values.app.basePath }}
        command:
        - "/bin/sh"
        - "-ecx"
        - |
          /bin/telescopes \
          --listen-address=0.0.0.0:{{ .Values.service.internalPort }} \
          --log-level={{ .Values.app.logLevel }} \
          --productinfo-address={{ .Values.app.productInfoAddress }} \
        {{- if .Values.app.vaultAddress }}
          --vault-address={{ .Values.app.vaultAddress }} \
        {{- end }}
        {{- if .Values.app.tokenSigningKey }}
          --token-signing-key={{ .Values.app.tokenSigningKey }} \
        {{- end }}
        {{- if .Values.app.devMode }}
          --dev-mode
        {{- end }}
        ports:
        - name: http
          containerPort: {{ .Values.service.internalPort }}
        livenessProbe:
          httpGet:
            path: {{ .Values.app.basePath }}/status
            port: http
          initialDelaySeconds: 120
          timeoutSeconds: 5
          failureThreshold: 6
        readinessProbe:
          httpGet:
            path: {{ .Values.app.basePath }}/status
            port: http
            httpHeaders:
          initialDelaySeconds: 30
          timeoutSeconds: 3
          periodSeconds: 5
        resources:
{{ toYaml .Values.resources | indent 10 }}
