apiVersion: v1
kind: Service
metadata:
  name: {{ template "anchore-engine.fullname" . }}
  labels:
    app: {{ template "anchore-engine.fullname" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    component: core
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: anchore-external-api
      port: {{ .Values.service.ports.api }}
      targetPort: {{ .Values.service.ports.api }}
      protocol: TCP
    - name: anchore-kubewebhook
      port: {{ .Values.service.ports.k8sImagePolicyWebhook }}
      targetPort: {{ .Values.service.ports.k8sImagePolicyWebhook }}
      protocol: TCP
    - name: anchore-queue
      port: {{ .Values.service.ports.queue }}
      targetPort: {{ .Values.service.ports.queue }}
      protocol: TCP
    - name: anchore-catalog
      port: {{ .Values.service.ports.catalog }}
      targetPort: {{ .Values.service.ports.catalog }}
      protocol: TCP
    - name: anchore-policy
      port: {{ .Values.service.ports.policy }}
      targetPort: {{ .Values.service.ports.policy }}
      protocol: TCP
    {{- if or .Values.cloudsql.enabled .Values.cloudsql.dbService }}
    - name: anchore-db
      port: {{ .Values.cloudsql.dbServicePort }}
      targetPort: {{ .Values.cloudsql.dbServicePort }}
      protocol: TCP
    {{- end }}
  selector:
    app: {{ template "anchore-engine.fullname" . }}
    component: core
