apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "cadence.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "cadence.name" . }}
    helm.sh/chart: {{ include "cadence.chart" . }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion | replace "+" "_" }}
    app.kubernetes.io/part-of: {{ .Chart.Name }}
data:
  config_template.yaml: |-
    log:
      stdout: true
      level: {{ .Values.server.config.logLevel | quote }}

    persistence:
      defaultStore: default
      visibilityStore: visibility
      numHistoryShards: {{ .Values.server.config.numHistoryShards }}
      datastores:
        default:
          {{- if eq (include "cadence.persistence.driver" (list . "default")) "cassandra" }}
          cassandra:
            hosts: {{ include "cadence.persistence.cassandra.hosts" (list . "default") }}
            port: {{ include "cadence.persistence.cassandra.port" (list . "default") }}
            password: {{ `{{ .Env.CADENCE_STORE_PASSWORD }}` }}
            {{- with (omit .Values.server.config.persistence.default.cassandra "hosts" "port" "password" "existingSecret") }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- end }}
          {{- if eq (include "cadence.persistence.driver" (list . "default")) "sql" }}
          sql:
            pluginName: {{ include "cadence.persistence.sql.pluginName" (list . "default") }}
            databaseName: {{ .Values.server.config.persistence.default.sql.database }}
            connectAddr: "{{ include "cadence.persistence.sql.host" (list . "default") }}:{{ include "cadence.persistence.sql.port" (list . "default") }}"
            connectProtocol: "tcp"
            user: {{ include "cadence.persistence.sql.user" (list . "default") }}
            password: {{ `{{ .Env.CADENCE_STORE_PASSWORD }}` }}
            {{- with (omit .Values.server.config.persistence.default.sql "pluginName" "host" "port" "connectAddr" "connectProtocol" "database" "databaseName" "user" "password" "existingSecret") }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- end }}
        visibility:
          {{- if eq (include "cadence.persistence.driver" (list . "visibility")) "cassandra" }}
          cassandra:
            hosts: {{ include "cadence.persistence.cassandra.hosts" (list . "visibility") }}
            port: {{ include "cadence.persistence.cassandra.port" (list . "visibility") }}
            password: {{ `{{ .Env.CADENCE_VISIBILITY_STORE_PASSWORD }}` }}
            {{- with (omit .Values.server.config.persistence.visibility.cassandra "hosts" "port" "password" "existingSecret") }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- end }}
          {{- if eq (include "cadence.persistence.driver" (list . "visibility")) "sql" }}
          sql:
            pluginName: {{ include "cadence.persistence.sql.pluginName" (list . "visibility") }}
            databaseName: {{ .Values.server.config.persistence.visibility.sql.database }}
            connectAddr: "{{ include "cadence.persistence.sql.host" (list . "visibility") }}:{{ include "cadence.persistence.sql.port" (list . "visibility") }}"
            connectProtocol: "tcp"
            user: {{ include "cadence.persistence.sql.user" (list . "visibility") }}
            password: {{ `{{ .Env.CADENCE_VISIBILITY_STORE_PASSWORD }}` }}
            {{- with (omit .Values.server.config.persistence.visibility.sql "pluginName" "host" "port" "connectAddr" "connectProtocol" "database" "databaseName" "user" "password" "existingSecret") }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- end }}

    ringpop:
      name: cadence
      bootstrapMode: dns
      bootstrapHosts:
        - {{ include "cadence.componentname" (list . "frontend-headless") }}:{{ .Values.server.frontend.service.port | default `{{ .Env.FRONTEND_PORT | default 7933 }}` }}
        - {{ include "cadence.componentname" (list . "history-headless") }}:{{ .Values.server.history.service.port | default `{{ .Env.HISTORY_PORT | default 7934 }}` }}
        - {{ include "cadence.componentname" (list . "matching-headless") }}:{{ .Values.server.matching.service.port | default `{{ .Env.MATCHING_PORT | default 7935 }}` }}
        - {{ include "cadence.componentname" (list . "worker-headless") }}:{{ .Values.server.worker.service.port | default `{{ .Env.WORKER_PORT | default 7939 }}` }}
      maxJoinDuration: 30s

    services:
      frontend:
        rpc:
          port: {{ include "cadence.frontend.internalPort" . | default `{{ .Env.FRONTEND_PORT | default 7933 }}` }}
          bindOnIP: {{ `{{ default .Env.POD_IP "0.0.0.0" }}` }}
        metrics:
          tags:
            type: frontend
        {{- if or .Values.server.metrics.prometheus .Values.server.frontend.metrics.prometheus }}
          prometheus:
            timerType: {{ default .Values.server.metrics.prometheus.timerType .Values.server.frontend.metrics.prometheus.timerType }}
            listenAddress: "0.0.0.0:9090"
        {{- else if or .Values.server.metrics.statsd .Values.server.frontend.metrics.statsd }}
          statsd:
            hostPort: {{ default .Values.server.metrics.statsd.hostPort .Values.server.frontend.metrics.statsd.hostPort | quote }}
            prefix: {{ `{{ default .Env.STATSD_FRONTEND_PREFIX "cadence.frontend" }}` }}
        {{- end}}

      history:
        rpc:
          port: {{ include "cadence.history.internalPort" . | default `{{ .Env.HISTORY_PORT | default 7934 }}` }}
          bindOnIP: {{ `{{ default .Env.POD_IP "0.0.0.0" }}` }}
        metrics:
          tags:
            type: history
        {{- if or .Values.server.metrics.prometheus .Values.server.frontend.metrics.prometheus }}
          prometheus:
            timerType: {{ default .Values.server.metrics.prometheus.timerType .Values.server.history.metrics.prometheus.timerType }}
            listenAddress: "0.0.0.0:9090"
        {{- else if or .Values.server.metrics.statsd .Values.server.history.metrics.statsd }}
          statsd:
            hostPort: {{ default .Values.server.metrics.statsd.hostPort .Values.server.history.metrics.statsd.hostPort | quote }}
            prefix: {{ `{{ default .Env.STATSD_HISTORY_PREFIX "cadence.history" }}` }}
        {{- end}}

      matching:
        rpc:
          port: {{ include "cadence.matching.internalPort" . | default `{{ .Env.MATCHING_PORT | default 7935 }}` }}
          bindOnIP: {{ `{{ default .Env.POD_IP "0.0.0.0" }}` }}
        metrics:
          tags:
            type: matching
        {{- if or .Values.server.metrics.prometheus .Values.server.frontend.metrics.prometheus }}
          prometheus:
            timerType: {{ default .Values.server.metrics.prometheus.timerType .Values.server.matching.metrics.prometheus.timerType }}
            listenAddress: "0.0.0.0:9090"
        {{- else if or .Values.server.metrics.statsd .Values.server.matching.metrics.statsd }}
          statsd:
            hostPort: {{ default .Values.server.metrics.statsd.hostPort .Values.server.matching.metrics.statsd.hostPort | quote }}
            prefix: {{ `{{ default .Env.STATSD_FRONTEND_PREFIX "cadence.matching" }}` }}
        {{- end}}

      worker:
        rpc:
          port: {{ include "cadence.worker.internalPort" . | default `{{ .Env.WORKER_PORT | default 7939 }}` }}
          bindOnIP: {{ `{{ default .Env.POD_IP "0.0.0.0" }}` }}
        metrics:
          tags:
            type: worker
        {{- if or .Values.server.metrics.prometheus .Values.server.frontend.metrics.prometheus }}
          prometheus:
            timerType: {{ default .Values.server.metrics.prometheus.timerType .Values.server.worker.metrics.prometheus.timerType }}
            listenAddress: "0.0.0.0:9090"
        {{- else if or .Values.server.metrics.statsd .Values.server.worker.metrics.statsd }}
          statsd:
            hostPort: {{ default .Values.server.metrics.statsd.hostPort .Values.server.worker.metrics.statsd.hostPort | quote }}
            prefix: {{ `{{ default .Env.STATSD_WORKER_PREFIX "cadence.worker" }}` }}
        {{- end}}

    clusterMetadata:
      enableGlobalDomain: {{ `{{ default .Env.ENABLE_GLOBAL_DOMAIN "false" }}` }}
      failoverVersionIncrement: 10
      masterClusterName: "primary"
    {{- if `{{ .Env.IS_NOT_PRIMARY }}` }}
      currentClusterName: "secondary"
    {{- else }}
      currentClusterName: "primary"
    {{- end }}
      clusterInformation:
        primary:
          enabled: true
          initialFailoverVersion: 0
          rpcName: "cadence-frontend"
          rpcAddress: {{ `{{ .Env.PRIMARY_FRONTEND_SERVICE | default "cadence" }}` }}:{{ .Values.server.frontend.service.port | default `{{ .Env.FRONTEND_PORT | default 7933 }}` }}
      {{- if `{{ .Env.ENABLE_GLOBAL_DOMAIN }}` }}
        secondary:
            enabled: true
            initialFailoverVersion: 2
            rpcName: "cadence-frontend"
            rpcAddress: {{ `{{ .Env.SECONDARY_FRONTEND_SERVICE | default "cadence-secondary" }}` }}:{{ .Values.server.frontend.service.port | default `{{ .Env.FRONTEND_PORT | default 7933 }}` }}
      {{- end }}

    dcRedirectionPolicy:
      policy: {{ `{{ default .Env.DC_REDIRECT_POLICY "selected-apis-forwarding" }}` }}
      toDC: ""

    archival:
      status: "disabled"

    publicClient:
      hostPort: "{{ include "cadence.componentname" (list . "frontend") | default `{{ .Env.FRONTEND_SERVICE | default "127.0.0.1" }}` }}:{{ .Values.server.frontend.service.port | default `{{ .Env.FRONTEND_PORT | default 7933 }}` }}"

    dynamicConfigClient:
      filepath: "/etc/cadence/config/dynamicconfig/config.yaml"
      pollInterval: {{ .Values.dynamicConfig.pollInterval | default "10s" | quote }}

  dynamic_config.yaml: |-
    {{- toYaml .Values.dynamicConfig.values | nindent 12 }}
